#spin-container {
  max-width:600px;
  margin:0 auto;
}
.spin-to-win {
  max-width:600px;
}
.spin-to-win img {
  width:100%;
  height:auto;
}

#spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align:middle;
}

#spin-btn {
  cursor:pointer;
  background:white;
/*   background-image:url('https://contentservice.mc.reyrey.net/image_v1.0.0/?id=d08f9524-26eb-53be-a6a1-bc8d8e19cc20&637070095483683129'); */
  background-size:100% 100%;
  box-shadow:0 0 15px rgba(0,0,0,.25);
  animation:spinBtn 2s linear infinite;
  border:5px solid transparent;
  text-align:center;
}
#spin-btn p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

@keyframes spinBtn {
  0% { border:5px solid black; }
  50% { border:5px solid red; }
  100% { border:5px solid black; }
}

#spin-btn, #spin-arrow {
  max-width:180px;
  width:calc(100vw * .3);
  max-height:180px;
  height:calc(100vw * .3);  
  border-radius:50%;
  display:inline-block;
  position:absolute;
}

#spin-arrow {
  transition-timing-function: ease-in-out;
  transition:3s;
}
#spin-arrow:after {
  content:'';
  position:absolute;
  left:2px;
  top:2px;
  width:calc(100vw * .14167);
  max-width:85px;
  height:calc(100vw * .14167);
  max-height:85px;
  background-color:white; 
  box-shadow:-2px -2px 10px rgba(0,0,0,.25);
}

/* btn styles */
#si-btn {
  max-width: 320px;
  background:white;
  color:black;
  text-align:center;
  font-family:sans-serif;
  border-radius:15px;
  margin:0 auto 25px auto;
  padding:0px;
/*   transition:2s; */
  filter:invert(1);
  opacity:0;
}
/* #si-btn:hover {
  background:#e81238;
} */
#si-btn a {
  color:inherit;
  text-decoration:none;
  display:inline-block;
  padding:20px 35px;
}
/* btn styles */

/* OFFER STYLES */
.spin-offer {
  max-width: 600px;
  padding:20px;
/*   border:10px solid lightgray; */
  border-radius:15px;
  text-align:center;
  font-size:24px;
  font-family:sans-serif;
  position:relative;
  display:none;
  vertical-align:middle;
  animation:spin 2s linear forwards;
  color:white;
  box-shadow:10px 10px 10px rgba(0,0,0,.25);
  margin-bottom:30px;
}
@keyframes spin {
  0% { opacity:0; }
  100% { opacity:1; }
}

.spin-offer .item {
  padding:10px;
}

.spin-title {
  
}
.spin-price {
  font-size:60px;
  line-height:60px;
  padding-bottom:0px !important;
}
.spin-info {
  padding-top:0px !important;
}
.spin-disc {
  font-size:12px;
}